@import '/sass_partials/variables';


@mixin xs{
    @media(min-width: $bp-xs){
        @content;
    }
}
@mixin sm{
    @media(min-width: $bp-sm){
        @content;
    }
}
@mixin md{
    @media(min-width: $bp-md){
        @content;
    }
}
@mixin lg{
    @media(min-width: $bp-lg){
        @content;
    }
}
@mixin breakpoint($bp:0){
    @media(min-width: $bp){
        @content;
    }

}


.responsive-cards{
    @include xs{
       
    }
    @include sm{
        
    }
    @include md{
        
    }
    @include lg{
        
    }
}
.r-popular-cards{
    @include xs{
       
    }
    @include sm{
        
    }
    @include md{
        
    }
    @include lg{
        
    }
}

.responsive-test{
    @include sm{
        color:red;
    }
    @include md{
        color:green;
    }
    @include breakpoint(1400px){
        color:hotpink;
    }

}