@mixin sm{
    @media(min-width: $bp-sm){
        @content;
    }
}
@mixin md{
    @media(min-width: $bp-md){
        @content;
    }
}
@mixin breakpoint($bp:0){
    @media(min-width: $bp){
        @content;
    }

}

.responsive-test{
    @include sm{
        color:red;
    }
    @include md{
        color:green;
    }
    @include breakpoint(1400px){
        color:hotpink;
    }

}