// $direction: cloumn;
// $justify-content: space-between;
// $p-900:rgb(107, 184, 65);
// $p-800: blue;


$palette-1:#ef476f;
$palette-2: #ffc233;
$palette-3: #06d6a0;
$palette-4: #1b98e0;
$palette-5: #ff9f1c;

//! Breakpoints

$bp-xs:360px;
$bp-sm:480px;
$bp-md:768px;
$bp-lg:960px;
$bp-xl:1200px;
