//!Här är bilden i enskilda recept

.recept {
    .recept-img {
        height: 400px;
        padding: 1rem;
    

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}

//!Här är rubriken i recept
.recipe-heading{
    padding-top:3rem;
    padding-left:1rem;
}


//!Information i recept sidorna
.info-recipe{
    //padding-top: 1rem;
    background-color: white;
    padding:2rem;
    margin-bottom: 2rem;
   
}


.time-ingredients-container{
    margin: 2rem 1rem;
    background-color: $cta-color;
    padding:2rem 1rem;
    border-radius: 5px;
    
     @include flex-spacebetween(space-around);

    .time-recipe{
    
        font-size: 1rem;
       
        // @include flexbox(stretch);
    }
    //!Hur många ingredinser som är i receptet
    .buy-ingredients{

    }
    //! Vilken bas ingrediens som är huvudbasen i rätten
    .base-ingredients{



    }
   //! ikoner ovanför texten
    .material-symbols-outlined{
    
    }
         
}
//! container runt "ingredinser" och "Gör såhär"
.steps-container{
    padding: 3rem 0rem;
    margin: 4rem 0rem;
    background-color: $steps-container-color;
  
    .steps-list{
       
        list-style: none;

      li{
        background-color: $ingredients-color;
        margin:1rem;
        padding:1rem;
        border-radius: 5px;
        
      }

    }
}

