//Rensa i html och använd generella element h1,h2 osv 
h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    @include bp-sm{
        font-size: 4rem;
    }
}
h2{

}
h3{
    font-size: 1.5rem;
}
p{
    line-height: 1.45;
    margin-bottom: 1rem;
   
}
a{
    text-decoration: none;
  
}
.rubrik2{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.mid-rubrik1{
    font-size: 2rem;
}
.mid-rubrik2{
    font-size: 2rem;
}
.mid-rubrik3{
    font-size: 2rem;
}