$primary-color: #D3D8D4;
$palette-2: #ffc233;
$palette-3: #06d6a0;
$palette-4: #1b98e0;
$neutral-dark: rgb(11, 11, 11);

//! Breakpoints

$bp-xs: 360px;
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 960px;
$bp-xl: 1200px;

//! Font Family
//!Rubrik
$primary-text: 'Inclusive Sans', sans-serif;
//!Brödtext 
$secondary-text: 'Roboto', sans-serif;

$logo-text: 'Oswald', sans-serif;

//! 